absl-py == 2.1.0
aiohappyeyeballs == 2.4.3
aiohttp == 3.10.10
aiosignal == 1.3.1
annotated-types == 0.7.0
anyio == 4.6.0
asttokens == 2.4.1
atpublic == 4.1.0
attrs == 24.2.0
bigframes == 1.22.0
blinker == 1.8.2
cachetools == 5.5.0
certifi == 2024.8.30
charset-normalizer == 3.4.0
click == 8.1.7
cloudpickle == 3.0.0
comm == 0.2.2
contourpy == 1.3.0
cycler == 0.12.1
db-dtypes == 1.3.0
debugpy == 1.8.7
decorator == 5.1.1
deepdiff == 6.7.1
Deprecated == 1.2.14
docstring_parser == 0.16
executing == 2.1.0
Flask == 3.0.3
fonttools == 4.54.1
frozenlist == 1.4.1
fsspec == 2024.9.0
gcsfs == 2024.9.0.post1
geopandas == 1.0.1
google-api-core == 2.21.0
google-auth == 2.35.0
google-auth-oauthlib == 1.2.1
google-cloud-aiplatform == 1.70.0
google-cloud-bigquery == 3.26.0
google-cloud-bigquery-connection == 1.15.5
google-cloud-bigquery-storage == 2.26.0
google-cloud-bigtable == 2.26.0
google-cloud-core == 2.4.1
google-cloud-functions == 1.17.0
google-cloud-iam == 2.15.2
google-cloud-pubsub == 2.26.0
google-cloud-resource-manager == 1.12.5
google-cloud-storage == 2.18.2
google-crc32c == 1.6.0
google-resumable-media == 2.7.2
googleapis-common-protos == 1.65.0
grpc-google-iam-v1 == 0.13.1
grpcio == 1.66.2
grpcio-status == 1.66.2
gunicorn == 23.0.0
h11 == 0.14.0
httpcore == 1.0.6
httpx == 0.27.2
httpx-sse == 0.4.0
humanize == 4.11.0
ibis-framework == 9.2.0
idna == 3.1
importlib_metadata == 8.4.0
ipython == 8.28.0
ipywidgets == 8.1.5
itsdangerous == 2.2.0
jedi == 0.19.1
jellyfish == 1.1.0
Jinja2 == 3.1.4
joblib == 1.4.2
json_repair == 0.30.0
jsonpatch == 1.33
jsonpointer == 3.0.0
jupyterlab_widgets == 3.0.13
kiwisolver == 1.4.7
langchain == 0.3.3
langchain-core == 0.3.10
langchain-google-vertexai == 2.0.4
langchain-text-splitters == 0.3.0
langgraph == 0.2.35
langgraph-checkpoint == 2.0.1
langsmith == 0.1.134
markdown-it-py == 3.0.0
MarkupSafe == 3.0.1
matplotlib == 3.9.2
matplotlib-inline == 0.1.7
mdurl == 0.1.2
mesop == 0.12.6
msgpack == 1.1.0
multidict == 6.1.0
numpy == 1.26.4
oauthlib == 3.2.2
opentelemetry-api == 1.27.0
opentelemetry-sdk == 1.27.0
opentelemetry-semantic-conventions == 0.48b0
ordered-set == 4.1.0
orjson == 3.10.7
packaging == 24.1
pandas == 2.2.3
parso == 0.8.4
parsy == 2.1
pexpect == 4.9.0
pillow == 10.4.0
pip == 24.2
prompt_toolkit == 3.0.48
propcache == 0.2.0
proto-plus == 1.24.0
protobuf == 5.28.2
ptyprocess == 0.7.0
pure_eval == 0.2.3
pyarrow == 17.0.0
pyarrow-hotfix == 0.6
pyasn1 == 0.6.1
pyasn1_modules == 0.4.1
pydantic == 2.9.2
pydantic_core == 2.23.4
pydata-google-auth == 1.8.2
Pygments == 2.18.0
pyogrio == 0.10.0
pyparsing == 3.1.4
pyproj == 3.7.0
python-dateutil == 2.9.0.post0
python-dotenv == 1.0.1
pytz == 2024.2
PyYAML == 6.0.2
requests == 2.32.3
requests-oauthlib == 2.0.0
requests-toolbelt == 1.0.0
rich == 13.9.2
rsa == 4.9
scikit-learn == 1.5.2
scipy == 1.14.1
setuptools == 75.1.0
shapely == 2.0.6
six == 1.16.0
sniffio == 1.3.1
SQLAlchemy == 2.0.35
sqlglot == 25.1.0
stack-data == 0.6.3
tabulate == 0.9.0
tenacity == 8.5.0
threadpoolctl == 3.5.0
toolz == 0.12.1
traitlets == 5.14.3
typing_extensions == 4.12.2
tzdata == 2024.2
urllib3 == 2.2.3
vertexai == 1.70.0
watchdog == 5.0.3
wcwidth == 0.2.13
Werkzeug == 3.0.4
widgetsnbextension == 4.0.13
wrapt == 1.16.0
yarl == 1.14.0
zipp == 3.20.2
